<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Message -->
        <% messages() %>

            <!-- Registration form -->
            <form action="/register" method="POST">
                <p>All fields are required.</p>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <span id="pswBtn">Show Password</span>
                <p>
                    Password must have at least 12 characters, contain at least 1
                    capital letter, contain at least 1 number, and contain at least 1 special character.
                </p>

                <button type="submit" id="register-btn">Register</button>
            </form>

            <script src="/js/script.js"></script>