<h1>Welcome to CSE Motors!</h1>
<!-- <img src="/images/site/checkerboard.jpg"> -->
<div class="container">
    <img src="/images/vehicles/delorean.jpg" alt="Picture of Delorean" srcset="" id="delorean-img">
    <div class="cta">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="" class="cta-link">Own Today!</a>
    </div>
</div>


<div id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>

<div id="upgrades">
    <h2>Delorean Upgrades</h2>
    <ul>
        <li>
            <img src="/images/upgrades/flux-cap.png" alt="Image of flux capacitor">
            <a href="http://">Flux Capacitor</a>
        </li>
        <li>
            <img src="/images/upgrades/flame.jpg" alt="Image of flame">
            <a href="http://">Flame Decals</a>
        </li>
        <li>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Image of bumper sticker">
            <a href="http://">Bumper Stickers</a>
        </li>
        <li>
            <img src="/images/upgrades/hub-cap.jpg" alt="Image of hub cap">
            <a href="http://">Hub Caps</a>
        </li>
    </ul>
</div>