:root {
  /* Fonts */
  --heading-font: Raleway, Verdana, sans-serif;
  --paragraph-font: Lato, Helvetica, sans-serif;
}
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  /* border: 4px solid; */
  /* margin: auto 0; */
  font-family: var(--paragraph-font)
}

h1, h2 {
  font-family: var(--heading-font);
  
}



.cta li, #upgrades li {
  list-style-type: none;
}
