<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Message -->
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <!-- Form for new classification -->
                <form action="/inv/add-classification" method="POST">
                    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY. NO SPACES.</p>
                    <label for="classification_name">
                        <input type="text" id="classification_name" name="classification_name" required
                            pattern="^[A-Za-z]+$"
                            title="Only alphabetic characters are allowed, and no spaces are permitted.">

                        <button type="submit" id="classification-btn">Add Classification</button>
                    </label>
                </form>