<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Message -->
        <%- messages() %>

            <!-- Links -->
            <a class="management-link" href="/inv/add-classification">Add New Classification</a>
            <a class="management-link" href="/inv/add-inventory">Add New Vehicle</a>